<div class="container">

  <h2 class="textStyle">My Favorite Recipes</h2>

  <hr class="hr" />

  <div id="favorites" class="row">

  </div>

  <hr class="hr" />

  <div class="row">

    <div id="recipeForm" class="col-md-6">
      <form method="post">
        <h2 class="textStyle">Recipe Form</h2>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="name" placeholder="Recipe Title">
        </div>
        <div class="form-group">
          <label for="ingridents">Ingridents</label>
          <input class="form-control textarea" id="ingridents" type="textarea" />
          <button class="btn btn-primary card-btn" type="submit">Add</button>
        </div>
        <div class="form-group">
          <label for="direction">Cooking Step</label>
          <input class="form-control textarea" id="cooking-step" type="textarea" />
          <button class="btn btn-primary card-btn" type="submit">Add</button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btnForm" type="submit">SUBMIT</button>
        </div>

      </form>
    </div>

    <div id="searchBox" class="col-md-4">
      <h2 class="textStyle">Recent Searches</h2>
      <ol class="recentSearch">
        <li>Steak and Eggs</li>
        <li>Chicken Noodle Soup</li>
        <li>Spaghetti and Meatballs</li>
        <li>Meatballs</li>
        <li>Chocolate Cake</li>
      </ol>

    </div>


  </div>

</div>