<div class="jumbotron hero">
    <div class="container">

        <div class="row">
            <div id="heroText" class="col-md-2 col-md-offset-3 get-it animated slideInRight">
                <h1></h1>

            </div>
        </div>
    </div>
</div>

{{!-- <div class="features-clean ">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" id="howitworks">How It Works</h2>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item">
                <i class="glyphicon glyphicon-user ontop"></i>
                <h3 class="name">Sign-Up</h3>
                <p class="description">Create a user account</p>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <i class="glyphicon glyphicon-ok ontop"></i>
                <h3 class="name">Add Food Items</h3>
                <p class="description">Input all the items you have in your fridge and pantry</p>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <i class="glyphicon glyphicon-search ontop"></i>
                <h3 class="name">Search For Recipes</h3>
                <p class="description">Select up to 3 main items you would like your recipe to include</p>
            </div>

        </div>
    </div>
</div> --}}

<div id="howItWorks" class="features-clean animated slideInRight">
    <div class="col-md-6"></div>
    <div class="col-md-6 textBox">
        <ul>
            <li>A fun cooking experience</li>
            <li>Use your own home ingredients</li>
            <li>Simple recipes for everyone</li>
        </ul>
    </div>

</div>