<div>
    <nav class="navbar navbar-default navbar-fixed navigation-clean a navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="indexHANDLEBARS.html">Food Connect</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only searchIcon">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation">
                        <a href="recipesearch.html">FIND RECIPES</a>
                    </li>
                    <li role="presentation">
                        <a href="#howitworks">HOW IT WORKS</a>
                    </li>
                    <li role="presentation">
                        <a href="login.html">LOGIN </a>
                    </li>
                    <li role="presentation">
                        <a href="signup.html">SIGN UP</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container ">
            <div class="navbar ">
                <form class=" text-center">
                    <div class="inner-addon right-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input id="input" type="text" class="form-control" />
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>