{{> navbar}}

{{!-- <div class="row">
<div class="col-md-3 col-sm-6">
      <div class="card recipeCard"><img src="https://www.edamam.com/web-img/b76/b76a48e89abc9d8dc83c0fd011a30e7a.jpg" alt="Steak &amp; Eggs Rancheros" class="card-img-top">
        <hr>
        <div class="card-block" style="text-align:center">
          <h4 class="card-title" style="font-weight: bold;">Steak &amp; Eggs Rancheros</h4>
          <hr>
          <p style="font-weight:bold;color:black">Diet Labels : Low-Carb</p>
          <hr><a href="http://www.finecooking.com/recipes/steak-eggs-rancheros.aspx" class="btn btn-primary card-btn" target="_blank">Full Recipe</a></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card recipeCard"><img src="https://www.edamam.com/web-img/b33/b33541d0c45da177396b15918c07c38d.jpg" alt="Sunday Brunch: Steak, Eggs, And Sunny Side-Up Asparagus" class="card-img-top">
        <hr>
        <div class="card-block" style="text-align:center">
          <h4 class="card-title" style="font-weight: bold;">Sunday Brunch: Steak, Eggs, And Sunny Side-Up Asparagus</h4>
          <hr>
          <p style="font-weight:bold;color:black">Diet Labels : Low-Carb</p>
          <hr><a href="http://www.seriouseats.com/recipes/2010/05/sunday-brunch-steak-and-eggs-and-asparagus-cheese-recipe.html" class="btn btn-primary card-btn" target="_blank">Full Recipe</a></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card recipeCard"><img src="https://www.edamam.com/web-img/31f/31f36c43d9330cff1957f9b59bcfaf9c.jpg" alt="Steak, Egg &amp; Blue Cheese Salad" class="card-img-top">
        <hr>
        <div class="card-block" style="text-align:center">
          <h4 class="card-title" style="font-weight: bold;">Steak, Egg &amp; Blue Cheese Salad</h4>
          <hr>
          <p style="font-weight:bold;color:black">Diet Labels : Low-Carb</p>
          <hr><a href="http://www.finecooking.com/recipes/steak-egg-blue-cheese-salad.aspx" class="btn btn-primary card-btn" target="_blank">Full Recipe</a></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card recipeCard"><img src="https://www.edamam.com/web-img/14b/14b22dac0fbcfe358c03f93b2b78e0eb.jpg" alt="Chicken Fried Steak With Country Gravy" class="card-img-top">
        <hr>
        <div class="card-block" style="text-align:center">
          <h4 class="card-title" style="font-weight: bold;">Chicken Fried Steak With Country Gravy</h4>
          <hr>
          <p style="font-weight:bold;color:black">Diet Labels : Low-Carb</p>
          <hr><a href="http://norecipes.com/blog/2008/12/14/chicken-fried-steak-with-country-gravy/" class="btn btn-primary card-btn" target="_blank">Full Recipe</a></div>
      </div>
    </div>
</div> --}}
<div class="recipeContainer">
  {{>favorites this}}
</div>

{{> footer}}
